
@{
    ViewBag.Title = "Contact";
}

<!-- #region static banner -->
<section style=" background-color: rgb(15, 14, 14,0.1234);">
    <div class="breadcrumb-area common-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap">
                        <nav aria-label="breadcrumb">
                            <h1>Contact us</h1>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i></a>
                                </li>

                                <li class="breadcrumb-item active" aria-current="page">Contact us</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #endregion banner-->
<!-- contact area start -->
<div class="contact-area section-space">
    <div class="container">
        <div class="row jumbotron">

            <div class="col-lg-6">
                <div class="contact-info">
                    <h2>contact us</h2>
                    <p>
                        Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum
                        est notare quam littera gothica, quam nunc putamus parum claram anteposuerit litterarum
                        formas human.
                    </p>
                    <ul>
                        <li><i class="fa fa-fax"></i> Address : No 40 Baria Sreet 133/2 NewYork City</li>
                        <li><i class="fa fa-phone"></i> info@yourdomain.com</li>
                        <li><i class="fa fa-envelope-o"></i> +88013245657</li>
                    </ul>
                    <div class="working-time">
                        <h3>Working hours</h3>
                        <p><span>Monday – Saturday:</span>08AM – 22PM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact area end -->
