<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>
        <h4>Salam :) <b>{User}</b></h4>
        <p><b>{No}</b> Sifarisiniz qeyde alindi. En qisa zamanda qeyd etdiyiniz mobile nomreden sizinle elaqe saxlanilacaq</p>
        <br /><p>Hazirda gozleyen <b>{pCount}</b> mehsulunuz var </p>
        <br /><p>Sifarisiniz tesdiqlendiyi teqdirde tesdiq haqqinda email alacaqsiniz</p>
        <br /><p>Tesekkurler</p><br />
        <p>Asus</p>
        <a style='color:red' href='{0}'>my account</a>
    </div>
</body>
</html>