<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google fonts include -->
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,700,900" rel="stylesheet">
    <!-- fontawasome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="~/Public/template/css/preloader.css" rel="stylesheet" />
    <link href="~/Public/template/slick-1.8.1/slick-1.8.1/slick/slick.css" rel="stylesheet" />
    <link href="~/Public/template/slick-1.8.1/slick-1.8.1/slick/slick-theme.css" rel="stylesheet" />
    <link href="~/Public/template/Animated-Tabs-anitabs/css/anitabs.css" rel="stylesheet" />
    <link href="~/Public/template/plugin_product_slider/css/lightslider.css" rel="stylesheet" />
    <link href="~/Public/template/css/animate.css" rel="stylesheet" />
    <!-- <link type="text/css" rel="stylesheet" href="assets/plugin_product_slider/css/lightslider.min.css" /> -->

    <link href="~/Public/template/css/b4productslide.css" rel="stylesheet" />
    <link href="~/Public/template/css/temp.css" rel="stylesheet" />
    <link href="~/Public/template/css/style.css" rel="stylesheet" />
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    <title>Laptop</title>
</head>

<body>

    <div class="preloader">
        <div class="loader"></div>
    </div>
    <!-- #region header -->
    <header class="header-area">

        <div class="main-header  d-none  d-lg-block">
            <!-- #region header top start -->
            <div class="header-top ">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="welcome-message">
                                <p>Welcome to Asus online store</p>
                            </div>
                        </div>
                        <div class="col-lg-6 text-right">
                            <div class="header-top-settings">
                                <ul class="nav align-items-center justify-content-end">
                                    <li class="language">
                                        <span>Language:</span>
                                        <img src="~/Public/template/img/icon/en.png" alt="flag"> English
                                        <i class="fa fa-angle-down"></i>
                                        <ul class="dropdown-list">
                                            <li><a href="#"><img src="~/Public/template/img/icon/en.png" alt="flag"> english</a></li>
                                            <li><a href="#"><img src="~/Public/template/img/icon/fr.png" alt="flag"> french</a></li>
                                        </ul>
                                    </li>
                                    <li class="curreny-wrap">
                                        <span>Currency:</span>
                                        $ USD
                                        <i class="fa fa-angle-down"></i>
                                        <ul class="dropdown-list curreny-list">
                                            <li><a href="#">$ usd</a></li>
                                            <li><a href="#"> € EURO</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #endregion header top end -->
            <!--#region desktop navbar -->
            <div style="z-index:99999;" class="header-main-area  sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- start logo area -->
                        <div class="col-lg-2">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="~/Public/template/img/logo/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- start logo area -->
                        <!-- main menu area start -->
                        <!-- nav bar -->
                        <div class="col-lg-7">
                            <div class="main-menu-area">
                                <div class="main-menu">
                                    <!-- main menu navbar start -->
                                    <nav class="desktop-menu">
                                        <ul>
                                            <li class="active animated bounce delay-1s">
                                                <a href="index.html">
                                                    Home <i class="fa fa-home"></i>
                                                </a>
                                            </li>
                                            <li class="static ">
                                                <a href="#">Pages <i class="fa fa-angle-down"></i></a>
                                                <ul class="dropdown">
                                                    <li><a href="cart.html">Cart</a></li>
                                                    <li><a href="checkout.html">Checkout</a></li>
                                                    <li><a href="wishlist.html">Wishlist</a></li>
                                                </ul>
                                            </li>
                                            <li class="static "><a href="products.html">Shop <i class="fas fa-shopping-bag"></i></a></li>
                                            <li class="static"><a href="blog.html">Blog <i class="fa fa-blog"></i></a></li>
                                            <li class="static"><a href="contact.html">Contact <i class="fas fa-address-book"></i></a></li>

                                        </ul>
                                    </nav>
                                    <!-- main menu navbar end -->
                                </div>
                            </div>
                        </div>
                        <!-- nav bar -->
                        <!-- main menu area end -->
                        <!-- mini cart area start                   user cart wishlist-->
                        <div class="col-lg-3 ">
                            <div class="header-configure-wrapper">
                                <div class="header-configure-area">
                                    <ul class="nav justify-content-end">
                                        <!-- <li> <a href="#" class="offcanvas-btn"> <i class="lnr lnr-magnifier"></i></a></li> -->
                                        <li class="user-hover">
                                            <a href="#">
                                                <i class="far fa-user"></i>
                                            </a>
                                            <ul class="dropdown-list">
                                                <li><a href="login-register.html">login</a></li>
                                                <li><a href="login-register.html">register</a></li>
                                                <li><a href="my-account.html">my account</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="wishlist.html">
                                                <i class="far fa-heart"></i>
                                                <div class="notification">0</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#MiniCard" class="minicart-btn">
                                                <i class="fa fa-cart-arrow-down"></i>
                                                <div class="notification">2</div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- mini cart area end -->
                    </div>
                </div>
            </div>
            <!--#endregion desktop navbar -->
        </div>


        <!--#region mobile navbar responsive -->

        <div class="mobile-header d-lg-none  d-md-block fixed-top">
            <!--mobile header top start -->
            <div class="row align-items-center">
                <div class="col-12 col-sm-12 col-md-12">
                    <div class="mobile-main-header">
                        <div class="col-6 col-sm-6 col-md-6 mobile-logo">
                            <a href="index.html">
                                <img src="~/Public/template/img/logo/logo.png" alt="Brand Logo">
                            </a>
                        </div>
                        <!-- nav bar -->
                        <div id="nav" class="col-12 col-sm-12 col-md-12  pos-a ">
                            <div class="main-menu-area">
                                <!-- main menu navbar start -->
                                <nav class="m-menu">
                                    <ul>
                                        <li class="active">
                                            <div class="row">
                                                <div class="col-6 col-sm-6 col-md-6 text-right"><a href="index.html">Home</a></div>
                                                <div class="col-6 col-sm-6 col-md-6"><a href="index.html"><i class="fa fa-home"></i></a></div>
                                            </div>
                                        </li>
                                        <li class="static">
                                            <div class="row">
                                                <div class="col-6 col-sm-6 col-md-6 text-right"><a href="products.html">Shop</a></div>
                                                <div class="col-6 col-sm-6 col-md-6">
                                                    <a href="products.html">
                                                        <i class="fas fa-shopping-bag"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="static">
                                            <div class="row">
                                                <div class="col-6 col-sm-6 col-md-6 text-right"><a href="index.html">Blog</a></div>
                                                <div class="col-6 col-sm-6 col-md-6"><a href="index.html"><i class="fa fa-blog"></i></a></div>
                                            </div>
                                        </li>
                                        <li class="static">
                                            <div class="row">
                                                <div class="col-6 col-sm-6 col-md-6 text-right"><a href="index.html">Contact</a></div>
                                                <div class="col-6 col-sm-6 col-md-6">
                                                    <a href="index.html">
                                                        <i class="fas fa-address-book"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </nav>
                                <!-- main menu navbar end -->
                            </div>
                        </div>
                        <!-- nav bar -->
                        <!-- main menu area end -->
                        <div class="col-6 col-sm-6 col-md-6  justify-content-end mobile-menu-toggler">
                            <div class="mini-cart-wrap user-hover">
                                <a href="#">
                                    <i class="far fa-user"></i>
                                </a>
                                <ul class="dropdown-list">
                                    <li><a href="login-register.html">login</a></li>
                                    <li><a href="login-register.html">register</a></li>
                                    <li><a href="my-account.html">my account</a></li>
                                </ul>
                            </div>
                            <div class="mini-cart-wrap">
                                <a href="wishlist.html">
                                    <i class="far fa-heart"></i>
                                    <div class="notification">0</div>
                                </a>
                            </div>
                            <div class="mini-cart-wrap">
                                <a href="#" data-toggle="modal" data-target="#MiniCard" class="minicart-btn">
                                    <i class="fa fa-cart-arrow-down"></i>
                                    <div class="notification">2</div>
                                </a>
                            </div>
                            <div class="mobile-menu-btn">
                                <div class="bars">
                                    <i class="fas fa-bars"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- mobile header top start -->
        </div>

        <!-- #endregion mobile responsive -->


    </header>
    <!-- #endregion header -->
    <!-- region main wrapper start -->
    <main>
        @RenderBody()
        <!-- #region Quick view modal start -->
        <div class="modal section-space fade quickViewModal" tabindex="-1" role="dialog"
             aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div style="max-width: 1486px;" class="modal-dialog modal-lg">
                <div class="modal-content p-5">
                    <div class="modal-header border-0">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <!-- Quick view product slider -->
                                <div class="col-lg-6">
                                    <ul id="imageGallery">
                                        <li data-thumb="/Public/template/img/product/ASUS_ZenBook_13_UX333/az131.jpg"
                                            data-src="/Public/template/img/product/ASUS_ZenBook_13_UX333/az131.jpg">
                                            <img src="/Public/template/img/product/ASUS_ZenBook_13_UX333/az131.jpg" alt="laptop">
                                        </li>
                                        <li data-thumb="/Public/template/img/product/ASUS_ZenBook_13_UX333/az132.jpg"
                                            data-src="/Public/template/img/product/ASUS_ZenBook_13_UX333/az132l.jpg">
                                            <img src="/Public/template/img/product/ASUS_ZenBook_13_UX333/az132l.jpg" alt="laptop">
                                        </li>
                                        <li data-thumb="/Public/template/img/product/ASUS_ZenBook_13_UX333/az133.jpg"
                                            data-src="/Public/template/img/product/ASUS_ZenBook_13_UX333/az133l.jpg">
                                            <img src="/Public/template/img/product/ASUS_ZenBook_13_UX333/az133l.jpg" alt="laptop">
                                        </li>
                                    </ul>
                                </div>
                                <!-- Quick view product slider -->
                                <!-- Quick view Product Details -->
                                <div class="col-lg-5">
                                    <div class="product-details-des quick-details">
                                        <div class="manufacturer-name">
                                            <a href="product-details.html">HasTech</a>
                                        </div>
                                        <h3 class="product-name pt-3 pb-3">ASUS ZenBook 13 UX333FA-DH51</h3>
                                        <h3 class="product-name pt-3 pb-3">
                                            Ultra-Slim Laptop 13.3" FHD WideView, 8th-Gen Intel Core i5-8265U Processor,
                                            8GB , 256GB PCIe SSD, Backlit KB, NumberPad, Windows 10 - Royal Blue

                                        </h3>
                                        <ul>

                                            <li style="list-style: disc;">
                                                <p class="pro-desc">
                                                    13.3-Inch wide-view Full-HD nano-edge bezel display
                                                    with a 95% screen-to-body ratio
                                                </p>
                                            </li>
                                            <li style="list-style: disc;">
                                                <p class="pro-desc">
                                                    Exclusive dual-function touchpad: a touchpad with
                                                    switchable numeric keypad
                                                </p>
                                            </li>
                                            <li style="list-style: disc;">
                                                <p class="pro-desc">
                                                    Exclusive ErgoLift design, optimized cooling system
                                                    and enhanced audio performance
                                                </p>
                                            </li>
                                            <li style="list-style: disc;">
                                                <p class="pro-desc">
                                                    Latest 8th generation Intel Core i5-8265U Quad Core
                                                    Processor
                                                </p>
                                            </li>
                                            <li style="list-style: disc;">
                                                <p class="pro-desc">
                                                    Fast storage and memory featuring 256GB PCIe NVMe
                                                    SSD with 8GB LPDDR3 RAM
                                                </p>
                                            </li>
                                            <li style="list-style: disc;">
                                                <p class="pro-desc">
                                                    Built-in IR camera for facial recognition sign in
                                                    with Windows Hello
                                                </p>
                                            </li>
                                            <li style="list-style: disc;">
                                                <p class="pro-desc">
                                                    DMI/USB Type C, Gigabit-class 802.11ac Wi-Fi,
                                                    Bluetooth 5.0 and Micro SD card reader
                                                </p>
                                            </li>
                                            <li style="list-style: disc;">
                                                <p class="pro-desc">
                                                    Sleek and lightweight at 2.6 lbs for comfortable
                                                    portability
                                                </p>
                                            </li>
                                            <li style="list-style: disc;">
                                                <p class="pro-desc">
                                                    TPM Security and MIL-STD 810G military standard for
                                                    reliability and durability
                                                </p>
                                            </li>
                                            <li style="list-style: disc;">
                                                <p class="pro-desc">Carry sleeve and USB3.0 to RJ45 cable included</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- Quick view Product Details -->
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="price-box">
                            <span class="price-regular">$70.00</span>
                            <span class="price-old"><del>$90.00</del></span>
                        </div>
                        <div class="quantity-cart-box d-flex align-items-center">
                            <div class="action_link">
                                <!-- <a class="btn btn-cart2" href="#">Add to cart</a> -->
                                <a style="background-color: #555;" href="product-details.html" class="minicart-btn  btn btn-cart2">
                                    Product Details More
                                </a>
                                <a href="cart.html" class="minicart-btn  btn btn-cart2">
                                    Add to cart
                                </a>
                            </div>
                        </div>
                        <div class="useful-links">
                            <a href="#" data-target=".compare" class="minicart-btn">
                                <i class="fas fa-sync"></i>compare
                            </a>
                            <!-- <a href="#" data-toggle="tooltip" title="" data-original-title="Compare"><i
                            class="fas fa-sync"></i>compare</a> -->
                            <a href="#" data-toggle="tooltip" title="" data-original-title="Wishlist">
                                <i class="far fa-heart"></i>wishlist
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #endregion  Quick view modal end -->
        <!-- #region Mini Card modal -->
        <div class="modal right fade " id="MiniCard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body pt-5 pr-4">
                        <div class="minicart-content-box">
                            <div class="minicart-item-wrapper">
                                <ul>
                                    <li class="minicart-item">
                                        <div class="minicart-thumb">
                                            <a href="product-details.html">
                                                <img src="~/Public/template/img/product/mini.jpg" alt="product">
                                            </a>
                                        </div>
                                        <div class="minicart-content">
                                            <h3 class="product-name">
                                                <a href="product-details.html">Dozen White Botanical </a>
                                            </h3>
                                            <p>
                                                <span class="cart-quantity">1 <strong>×</strong></span>
                                                <span class="cart-price">$100.00</span>
                                            </p>
                                        </div>
                                        <button class="minicart-remove"><span aria-hidden="true">×</span></button>
                                    </li>
                                    <li class="minicart-item">
                                        <div class="minicart-thumb">
                                            <a href="product-details.html">
                                                <img src="~/Public/template/img/product/mini.jpg" alt="product">
                                            </a>
                                        </div>
                                        <div class="minicart-content">
                                            <h3 class="product-name">
                                                <a href="product-details.html">Dozen White Botanical </a>
                                            </h3>
                                            <p>
                                                <span class="cart-quantity">1 <strong>×</strong></span>
                                                <span class="cart-price">$80.00</span>
                                            </p>
                                        </div>
                                        <button class="minicart-remove"><span aria-hidden="true">×</span></button>
                                    </li>
                                    <li class="minicart-item">
                                        <div class="minicart-thumb">
                                            <a href="product-details.html">
                                                <img src="~/Public/template/img/product/mini.jpg" alt="product">
                                            </a>
                                        </div>
                                        <div class="minicart-content">
                                            <h3 class="product-name">
                                                <a href="product-details.html">Dozen White Botanical </a>
                                            </h3>
                                            <p>
                                                <span class="cart-quantity">1 <strong>×</strong></span>
                                                <span class="cart-price">$80.00</span>
                                            </p>
                                        </div>
                                        <button class="minicart-remove"><span aria-hidden="true">×</span></button>
                                    </li>
                                    <li class="minicart-item">
                                        <div class="minicart-thumb">
                                            <a href="product-details.html">
                                                <img src="~/Public/template/img/product/mini.jpg" alt="product">
                                            </a>
                                        </div>
                                        <div class="minicart-content">
                                            <h3 class="product-name">
                                                <a href="product-details.html">Dozen White Botanical </a>
                                            </h3>
                                            <p>
                                                <span class="cart-quantity">1 <strong>×</strong></span>
                                                <span class="cart-price">$80.00</span>
                                            </p>
                                        </div>
                                        <button class="minicart-remove"><span aria-hidden="true">×</span></button>
                                    </li>
                                    <li class="minicart-item">
                                        <div class="minicart-thumb">
                                            <a href="product-details.html">
                                                <img src="~/Public/template/img/product/mini.jpg" alt="product">
                                            </a>
                                        </div>
                                        <div class="minicart-content">
                                            <h3 class="product-name">
                                                <a href="product-details.html">Dozen White Botanical </a>
                                            </h3>
                                            <p>
                                                <span class="cart-quantity">1 <strong>×</strong></span>
                                                <span class="cart-price">$80.00</span>
                                            </p>
                                        </div>
                                        <button class="minicart-remove"><span aria-hidden="true">×</span></button>
                                    </li>
                                    <li class="minicart-item">
                                        <div class="minicart-thumb">
                                            <a href="product-details.html">
                                                <img src="~/Public/template/img/product/mini.jpg" alt="product">
                                            </a>
                                        </div>
                                        <div class="minicart-content">
                                            <h3 class="product-name">
                                                <a href="product-details.html">Dozen White Botanical </a>
                                            </h3>
                                            <p>
                                                <span class="cart-quantity">1 <strong>×</strong></span>
                                                <span class="cart-price">$80.00</span>
                                            </p>
                                        </div>
                                        <button class="minicart-remove"><span aria-hidden="true">×</span></button>
                                    </li>
                                </ul>
                            </div>

                            <div class="minicart-pricing-box">
                                <ul>
                                    <li>
                                        <span>sub-total</span>
                                        <span><strong>$300.00</strong></span>
                                    </li>
                                    <li>
                                        <span>Eco Tax (-2.00)</span>
                                        <span><strong>$10.00</strong></span>
                                    </li>
                                    <li>
                                        <span>VAT (20%)</span>
                                        <span><strong>$60.00</strong></span>
                                    </li>
                                    <li class="total">
                                        <span>total</span>
                                        <span><strong>$370.00</strong></span>
                                    </li>
                                </ul>
                            </div>

                            <div class="minicart-button">
                                <a href="cart.html"><i class="fa fa-shopping-cart"></i> view cart</a>
                                <a href="cart.html"><i class="fa fa-share"></i> checkout</a>
                            </div>
                        </div>
                    </div>

                </div><!-- modal-content -->
            </div>
        </div>
        <!-- #endregion -->
        <!-- top scroll -->
        <button id="topBtn"><i class="fas fa-arrow-up"></i></button>
    </main>
    <!--#endregion main wrapper start -->
    <!--  #region footer -->
    <footer style="background-color: rgb(15, 14, 14,0.1234);" class="footer-wrapper shadow  common-bg">

        <!-- footer widget area start -->
        <div class="footer-widget-area">
            <div class="container">
                <div class="footer-widget-inner section-space">
                    <div class="row mbn-30">
                        <!-- footer widget item start -->
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="footer-widget-item mb-30">
                                <div class="footer-widget-logo">
                                    <a href="index.html">
                                        <img src="~/Public/template/img/logo/logo.png" alt="">
                                    </a>
                                </div>
                                <ul class="footer-widget-body">
                                    <li class="widget-text">
                                        We are a team of designers and developers that create high quality Magento,
                                        Prestashop, Opencart
                                    </li>
                                    <li class="address">
                                        <em>address:</em>
                                        169-C, Technohub, Dubai Silicon Oasis.
                                    </li>
                                    <li class="phone">
                                        <em>phones:</em>
                                        <a href="tel:(012)800456789-987">(012) 800 456 789-987</a>
                                    </li>
                                    <li class="email">
                                        <em>e-mail:</em>
                                        <a href="mailto:test@yourdomain.com">test@yourdomain.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- footer widget item end -->
                        <!-- footer widget item start -->
                        <div class="col-lg-2 col-md-6 col-sm-6">
                            <div class="footer-widget-item mb-30">
                                <div class="footer-widget-title">
                                    <h5>information</h5>
                                </div>
                                <ul class="footer-widget-body">
                                    <li><a href="#">Specials</a></li>
                                    <li><a href="#">New products</a></li>
                                    <li><a href="#">Top sellers</a></li>
                                    <li><a href="#">Our stores</a></li>
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">Affiliate</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- footer widget item end -->
                        <!-- footer widget item start -->
                        <div class="col-lg-2 col-md-6 col-sm-6">
                            <div class="footer-widget-item mb-30">
                                <div class="footer-widget-title">
                                    <h5>extra</h5>
                                </div>
                                <ul class="footer-widget-body">
                                    <li><a href="my-account.html">my account</a></li>
                                    <li><a href="login-register.html">login/register</a></li>
                                    <li><a href="#">my orders</a></li>
                                    <li><a href="#">my credit slips</a></li>
                                    <li><a href="#">my addresses</a></li>
                                    <li><a href="#">brands</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- footer widget item end -->
                        <!-- footer widget item start -->
                        <div class="col-lg-4 col-md-6 col-sm-6 ">
                            <div class="footer-widget-item mb-30">
                                <div class="footer-widget-title">
                                    <h5>newsletter and social</h5>
                                </div>
                                <div class="footer-widget-body">
                                    <!-- newsletter area start -->
                                    <div class="newsletter-inner">
                                        <p>Get E-mail updates about our latest shop and special offers.</p>
                                        <form id="mc-form" novalidate="true">
                                            <input type="email" class="news-field" id="mc-email" autocomplete="off"
                                                   placeholder="Enter your email address" name="EMAIL">
                                            <button class="news-btn border-0" id="mc-submit">Subscribe</button>
                                        </form>
                                        <!-- mailchimp-alerts Start -->
                                        <div class="mailchimp-alerts">
                                            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                            <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                                            <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                                        </div>
                                        <!-- mailchimp-alerts end -->
                                    </div>
                                    <!-- newsletter area start -->
                                    <!-- footer widget social link start -->
                                    <div class="footer-social-link">
                                        <a href="#" class="facebook" data-toggle="tooltip" title="" data-original-title="Facebook">
                                            <i class="fab fa-facebook-square"></i>
                                        </a>
                                        <a href="#" class="twitter" data-toggle="tooltip" title="" data-original-title="Twitter">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a href="#" class="google" data-toggle="tooltip" title="" data-original-title="Google plus">
                                            <i class="fab fa-google-plus-square"></i>
                                        </a>
                                        <a href="#" class="instagram" data-toggle="tooltip" title="" data-original-title="Instagram">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                        <a href="#" class="youtube" data-toggle="tooltip" title="" data-original-title="Youtube">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                    </div>
                                    <!-- footer widget social link end -->
                                </div>
                            </div>
                        </div>
                        <!-- footer widget item end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- footer widget area end -->
    </footer>
    <!--  #endregion footer -->
    <!-- main end -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    @*<script src="https://code.jquery.com/jquery-3.4.1.js"></script>*@
    <script src="~/Areas/Admin/Public/assets/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Public/template/js/preloader.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>*@
    @*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>*@
    <script src="~/Scripts/umd/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Public/template/slick-1.8.1/slick-1.8.1/slick/slick.js"></script>
    <script src="~/Public/template/plugin_product_slider/js/lightslider.js"></script>
    <script src="~/Public/template/Animated-Tabs-anitabs/js/anitabs.js"></script>

    <!-- <script src="assets/plugin_product_slider/js/lightslider.min.js"></script> -->
    <script src="~/Public/template/js/slick-custom.js"></script>
    <script src="~/Public/template/js/app.js"></script>>
</body>

</html>
