.btn-hero{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    padding: 18px 36px;
    border-radius: 3px;
    display: inline-block;
    background-color: #242424;
    text-transform: uppercase;
    border-radius: 50px;
}