$font-family:"Rubik", sans-serif;
$primary-color:#242424;
$secondary-color:#555;
$thrird-color:#707070;
$discount-color:#999;
$fifth-color:#CC2121;

$font-size: 14px;
$line-height: 1.8;
$line-height_: 1;

$font-weight: 400;
