
@{
    ViewBag.Title = "Blog Details";
}

<!-- #region static banner -->
<section style=" background-color: rgb(15, 14, 14,0.1234);">
    <div class="breadcrumb-area common-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap">
                        <nav aria-label="breadcrumb">
                            <h1>blog details</h1>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="@Url.Action("Index","Blog")">blog</a></li>
                                <li class="breadcrumb-item active" aria-current="page">blog details</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #endregion banner-->
<!-- region blog -->
<!-- blog main wrapper start -->
<div class="blog-main-wrapper section-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-2">
                <div class="blog-sidebar-wrapper">
                    <!-- single sidebar end -->
                    <div class="blog-sidebar">
                        <h3 class="title">recent post</h3>
                        <div class="recent-post">
                            <div class="recent-post-item">
                                <figure class="product-thumb">
                                    <a href="blog-details.html">
                                        <img src="~/Public/template/img/blog/blog-img1.jpg" alt="blog image">
                                    </a>
                                </figure>
                                <div class="recent-post-description">
                                    <div class="product-name">
                                        <h4><a href="blog-details.html">ASUS ZenBook 13 UX333FA-DH51</a></h4>
                                        <p>march 10 2019</p>
                                    </div>
                                </div>
                            </div>
                            <div class="recent-post-item">
                                <figure class="product-thumb">
                                    <a href="blog-details.html">
                                        <img src="~/Public/template/img/blog/blog-img1.jpg" alt="blog image">
                                    </a>
                                </figure>
                                <div class="recent-post-description">
                                    <div class="product-name">
                                        <h4><a href="blog-details.html">ASUS ZenBook 13 UX333FA-DH51</a></h4>
                                        <p>march 18 2019</p>
                                    </div>
                                </div>
                            </div>
                            <div class="recent-post-item">
                                <figure class="product-thumb">
                                    <a href="blog-details.html">
                                        <img src="~/Public/template/img/blog/blog-img1.jpg" alt="blog image">
                                    </a>
                                </figure>
                                <div class="recent-post-description">
                                    <div class="product-name">
                                        <h4><a href="blog-details.html">ASUS ZenBook 13 UX333FA-DH51</a></h4>
                                        <p>march 14 2019</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- single sidebar end -->

                </div>
            </div>
            <div class="col-lg-9 order-1">
                <div class="blog-item-wrapper">
                    <!-- blog post item start -->
                    <div class="blog-post-item blog-details-post">
                        <figure class="blog-thumb">
                            <a href="blog-details.html">
                                <img src="~/Public/template/img/blog/blog-img1.jpg" alt="blog image">
                            </a>
                        </figure>
                        <div class="blog-content">
                            <h3 class="blog-title blog-title-large">
                                Celebrity Daughter Opens Up About Having Her Eye Color Changed
                            </h3>
                            <div class="blog-meta">
                                <p>25/03/2019 | Debaco</p>
                            </div>
                            <div class="entry-summary">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate perferendis
                                    consequuntur illo aliquid nihil ad neque, debitis praesentium libero ullam
                                    asperiores exercitationem deserunt inventore facilis, officiis,
                                </p>
                                <blockquote>
                                    <p>
                                        Quisque semper nunc vitae erat pellentesque, ac placerat arcu consectetur.
                                        In
                                        venenatis elit ac ultrices convallis. Duis est nisi, tincidunt ac urna sed,
                                        cursus blandit lectus. In ullamcorper sit amet ligula ut eleifend. Proin
                                        dictum
                                        tempor ligula, ac feugiat metus. Sed finibus tortor eu scelerisque
                                        scelerisque.
                                    </p>
                                </blockquote>
                                <p>
                                    aliquam maiores asperiores recusandae commodi blanditiis ipsum tempora culpa
                                    possimus assumenda ab quidem a voluptatum quia natus? Ex neque, saepe
                                    reiciendis
                                    quasi velit perspiciatis error vel quas quibusdam autem nesciunt voluptas odit
                                    quis
                                    dignissimos eos aspernatur voluptatum est repellat. Pariatur praesentium,
                                    corrupti
                                    deserunt ducimus quo doloremque nostrum aspernatur saepe cupiditate sit autem
                                    exercitationem debitis, maiores vitae perferendis nemo? Voluptas illo, animi
                                    temporibus quod earum molestias eaque, iure rem amet autem dignissimos officia
                                    dolores numquam distinctio esse voluptates optio pariatur aspernatur omnis?
                                    Ipsam
                                    qui commodi velit natus reiciendis quod quibusdam nemo eveniet similique animi!
                                </p>


                            </div>
                        </div>
                    </div>
                    <!-- blog post item end -->




                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog main wrapper end -->
<!-- #endregion blog -->
